<!-- Header -->
<header id="header">
    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
    <span>Trust Me, I'm a "Programmer"</span>
    <!-- <nav class="links"><ul><li><a href="#">Category</a></li></ul></nav>-->
    <nav class="main">
        <ul>
            <!--<li class="search"><a class="fa-search" href="#search">Search</a><form id="search" method="get" action="#"><input type="text" name="query" placeholder="Search" /></form></li>-->
            <li class="menu">
                <a class="fa-bars" href="#menu">Menu</a>
            </li>
        </ul>
    </nav>
</header>

<!-- Menu -->
<section id="menu">
    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search" />
        </form>
    </section>

    <!-- Links -->
    <section>
        <ul class="links">
            {% for category in site.categories %}
                {% assign categoryName = category[0] %}
                {% assign tags = "" | split: "," %}

                {% for post in site.categories.[categoryName] %}
                    {% assign postSize = forloop.length %}
                    {% for tag in post.tags %}
                        {% assign tags = tags | push: tag %}
                    {% endfor %}
                {% endfor %}
                {% assign tags = tags | uniq %}
                <li>
                    <a href="/{{ categoryName }}">
                        <h3>{{ categoryName | upcase }}({{ postSize }})</h3>
                    </a>
                    <p class="tags">
                        {% for tag in tags %}
                            <a href="/tags/{{ tag }}">{{ tag }}</a>
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </section>
    <!-- Actions -->
    <!-- <section>
    <ul class="actions vertical">
    <li><a href="#" class="button big fit">Log In</a></li>
</ul>
</section> -->
</section>
